<button
  type="button"
  (click)="clicked.emit()"
  [class]="
    variantClasses(routeActive.isActive ? (activeVariant() ?? variant()) : variant()) +
    ' ' +
    sizeClasses() +
    ' ' +
    (contentAlign() === 'start' ? 'justify-start' : 'justify-center') +
    ' py-3-sm px-4 leading-none font-semibold transform transition duration-300'
  "
  [routerLink]="route()"
  routerLinkActive
  #routeActive="routerLinkActive"
  [routerLinkActiveOptions]="{ exact: true }"
>
  @if (icon()) {
    <mat-icon [class]="'shrink-0 ' + iconSizeClasses()" fontSet="material-symbols-outlined">{{
      icon()
    }}</mat-icon>
  }

  {{ label() }}
</button>
