@if (type === 'summary') {
  <div
    class="relative flex flex-col items-start p-6 bg-linear-to-br from-background-primary to-background-hard rounded-lg shadow-md"
  >
    <div class="absolute -right-10 -top-16 size-56 rounded-full bg-primary-foreground/10"></div>
    <div class="absolute -bottom-20 right-24 size-44 rounded-full bg-primary-foreground/5"></div>
    <p class="text-14 text-primary-foreground opacity-80">Patrimônio total</p>
    <p class="mt-1 text-36 font-bold text-primary-foreground">R$ 10.000,00</p>
    <div class="flex items-cente gap-6 mt-6">
      <app-metric label="Saldo investido" value="R$ 15.000,00" />
      <app-metric label="Saldo líquido" value="R$ 25.000,00" />
      <app-metric label="Crescimento vs julho" value="+6.4%" />
    </div>
  </div>
} @else if (type === 'period') {
  <div class="flex flex-col p-6 bg-primary-foreground rounded-lg shadow-md border border-border">
    <div>
      <p class="text-foreground font-semibold text-14">Período</p>
      <p class="text-12 text-muted-foreground">Filtra todas as métricas desta página</p>
      <div class="flex items-center gap-2 px-0 py-4">
        <app-button
          [variant]="selectedPeriod() === '7-days' ? 'primary' : 'third'"
          size="sm"
          label="7 dias"
          (click)="selectPeriod('7-days')"
        ></app-button>
        <app-button
          [variant]="selectedPeriod() === '30-days' ? 'primary' : 'third'"
          size="sm"
          label="30 dias"
          (click)="selectPeriod('30-days')"
        ></app-button>
        <app-button
          [variant]="selectedPeriod() === 'this-month' ? 'primary' : 'third'"
          size="sm"
          label="Este mês"
          (click)="selectPeriod('this-month')"
        ></app-button>
        <app-button
          [variant]="selectedPeriod() === 'this-year' ? 'primary' : 'third'"
          size="sm"
          label="Este ano"
          (click)="selectPeriod('this-year')"
        ></app-button>
      </div>
    </div>
    <app-date-range-picker></app-date-range-picker>
  </div>
} @else if (type === 'metrics') {
  <div
    class="flex flex-1 flex-col h-full p-6 bg-primary-foreground rounded-lg shadow-md border border-border hover:shadow-lg hover:translate-y-up-1 transition-transform duration-200"
  >
    <div class="flex items-start justify-between gap-4">
      <app-custom-icon [name]="iconName" />
      @if (iconName === 'compare_arrows') {
        <p class="text-12 font-semibold text-muted-foreground">Fixas vs variáveis</p>
      } @else {
        <app-chip-component name="Chip 1" />
      }
    </div>
    <div class="mt-4">
      <app-metric [label]="metricLabel" [variant]="type" [value]="value" [foot]="foot" />
    </div>
    @if (metricLabel === 'Divisão por natureza da despesa') {
      <div class="flex flex-col gap-2">
        <div class="flex h-2 overflow-hidden rounded-full bg-secondary">
          <span class="w-[81%] bg-primary"></span>
          <span class="w-[19%] bg-accent"></span>
        </div>
        <div class="flex justify-between text-12 text-muted-foreground">
          <p>Fixas R$ 2.938,90</p>
          <p>Variáveis R$ 704,80</p>
        </div>
      </div>
    }
  </div>
} @else if (type === 'chart') {
  <div class="flex flex-col p-6 bg-primary-foreground rounded-lg shadow-md border border-border">
    <div class="flex items-start justify-between mb-6">
      <div>
        <p class="text-16 font-bold text-foreground">{{ chartTitle }}</p>
        <p class="text-12 text-muted-foreground">{{ chartSubtitle }}</p>
      </div>
      <div class="flex items-center gap-4 text-12">
        @for (dataset of chartData.datasets; track dataset.label) {
          <div class="flex items-center gap-1.5">
            <span class="w-full rounded-full" [style.background]="dataset.backgroundColor"></span>
            <div class="flex items-center gap-2-sm text-muted-foreground">
              <div
                class="w-3-sm h-3-sm rounded-full"
                [style.background]="dataset.backgroundColor"
              ></div>
              {{ dataset.label }}
            </div>
          </div>
        }
      </div>
    </div>

    <app-bar-chart [data]="chartData" [options]="chartOptions" />
  </div>
}
