@if (chipType === 'metricChipComponent') {
  <span [class]="variantMetricClasses()">
    @if (icon) {
      <mat-icon inline>{{ icon }}</mat-icon>
    }
    <p>{{ name }}</p>
  </span>
} @else if (chipType === 'infoChipComponent') {
  <span>
    <p>{{ name }}</p>
  </span>
} @else if (chipType === 'percentageChipComponent') {
  <span [class]="variantPercentageClasses(indicator)">
    @if (indicator !== null) {
      <p>{{ indicator }}% usado</p>
    } 
    @else {
      <p>- % usado</p>
    }
  </span>
}
