@if (type() === 'email' || type() === 'password' || type() === 'text') {
  <div class="flex flex-col gap-1">
    @if (label()) {
      <span class="text-12 text-muted-foreground font-semibold">{{ label() }}</span>
    }
    <div
      class="py-2 px-3 border border-default rounded-lg items-center gap-2 inline-flex transition-all duration-200 focus-within:border-blue-500 focus-within:ring-4 focus-within:ring-blue-100"
    >
      @if (icon()) {
        <mat-icon class="text-muted-foreground! size-4! text-16!">{{ icon() }}</mat-icon>
      }
      <input [type]="type()" [placeholder]="placeholder()" />
    </div>
  </div>
} @else if (type() === 'checkbox') {
  <input [type]="type()" class="size-4 rounded border-border accent-[#0EA5E9]" />
}
